In [1]:
import pandas as pd
import numpy as np

In [89]:
raw_batting = pd.read_csv("./worldcup_data/all_players_batting_stats.csv")
raw_bowling = pd.read_csv("./worldcup_data/all_players_bowling_stats.csv")

In [90]:
raw_batting.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s', 'country'],
      dtype='object')

In [91]:
raw_bowling.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'Overs', 'Mdns', 'Runs', 'Wkts', 'BBI',
       'Ave', 'Econ', 'SR', '4', '5', 'Ct', 'St', 'country'],
      dtype='object')

In [92]:
raw_bowling.rename(columns={"Ave": "bowling_average", "SR": "bowling_strike_rate", "Runs": "runs_given"}, inplace=True)

In [93]:
raw_bowling = raw_bowling.drop(columns=["Span", "Mat", "Inns"], axis=1)

In [94]:
combined_stats = pd.merge(raw_batting, raw_bowling, on=["Player", "country"], how="inner")

In [95]:
combined_stats.country.nunique()

15

In [96]:
def calculate_num_seasons(span):
    years = [1975,1979,1983,1987,1992, 1996, 1999, 2003, 2007, 2011, 2015, 2019]
    start, end = span.split("-")
    if start == end:
        return 1
    start_idx = years.index(int(start))
    end_idx = years.index(int(end))
    return (end_idx - start_idx) + 1

In [97]:
combined_stats["num_seasons"] = combined_stats["Span"].apply(lambda x: calculate_num_seasons(x))

In [98]:
auction_list = pd.read_excel("./worldcup_data/official_auction_list.xlsx", sheet_name="Sheet1")

In [99]:
combined_stats.country.unique()

array(['India', 'Kenya', 'Australia', 'Bangladesh', 'England', 'Ireland',
       'Netherlands', 'NewZealand', 'Pakistan', 'Scotland', 'SouthAfrica',
       'SriLanka', 'WestIndies', 'Zimbabwe', 'Canada'], dtype=object)

In [100]:
auction_list.County.unique()

array(['CAN', 'ENG', 'INDIA', 'SL', 'AUS', 'SA', 'PAK', 'BDESH', 'WI',
       'NZ', 'ZIM', 'KENYA', 'IRE', 'SCOT', 'NL'], dtype=object)

In [5]:
country_mapping = {
    "CAN": "Canada",
    "ENG": "England",
    "INDIA": "India",
    "SL": "SriLanka",
    "AUS":"Australia",
    "SA": "SouthAfrica",
    "PAK": "Pakistan",
    "BDESH": "Bangladesh",
    "WI": "WestIndies",
    "NZ": "NewZealand",
    "ZIM": "Zimbabwe",
    "KENYA": "Kenya",
    "IRE": "Ireland",
    "SCOT": "Scotland",
    "NL": "Netherlands"
}

In [102]:
auction_list.shape

(210, 3)

In [103]:
combined_stats.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0', '4s', '6s', 'country', 'Overs', 'Mdns', 'runs_given',
       'Wkts', 'BBI', 'bowling_average', 'Econ', 'bowling_strike_rate', '4',
       '5', 'Ct', 'St', 'num_seasons'],
      dtype='object')

In [104]:
auction_list["country"] = auction_list.County.apply(lambda x: country_mapping[x])

In [105]:
auction_players = pd.merge(combined_stats, auction_list, on=["Player", "country"], how="inner")

In [106]:
auction_players.to_csv("./worldcup_data/official_auction_list_stats.csv", index=False)

### SEASON WISE STATS MERGING

In [6]:
new_official_list = pd.read_excel("./worldcup_data/WC ODI Auction Player List.xlsx", sheet_name="Player List")

In [7]:
new_official_list["country"] = new_official_list.Country.apply(lambda x: country_mapping[x])

### LOAD ALL THE INDIVIDUAL FILES

In [2]:
batting_df = pd.read_csv("./worldcup_data/batting_season_stats.csv")
bowling_df = pd.read_csv("./worldcup_data/bowling_season_stats.csv")

In [3]:
batting_df.shape

(1555, 16)

In [4]:
bowling_df.shape

(1555, 17)

In [11]:
bowling_df.rename(columns={"Ave": "bowling_average", "SR": "bowling_strike_rate", "Runs": "runs_given"}, inplace=True)

In [12]:
bowling_df = bowling_df.drop(columns=["Mat", "Inns"], axis=1)

In [13]:
combined_season_stats = pd.merge(batting_df, bowling_df, on=["Player", "country", "year"], how="inner")

In [14]:
combined_season_stats.columns

Index(['Player', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100',
       '50', '0', '4s', '6s', 'country', 'year', 'Overs', 'Mdns', 'runs_given',
       'Wkts', 'BBI', 'bowling_average', 'Econ', 'bowling_strike_rate', '4',
       '5', 'Ct', 'St'],
      dtype='object')

In [15]:
official_auction_list_season = pd.merge(combined_season_stats, new_official_list, on=["Player", "country"], how="inner")

In [16]:
official_auction_list_season.to_csv("./worldcup_data/season_wise_combined_auction_list.csv", index=False)

In [17]:
official_auction_list_season.columns

Index(['Player', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100',
       '50', '0', '4s', '6s', 'country', 'year', 'Overs', 'Mdns', 'runs_given',
       'Wkts', 'BBI', 'bowling_average', 'Econ', 'bowling_strike_rate', '4',
       '5', 'Ct', 'St', 'Country', 'Role'],
      dtype='object')

### Analysing season stats

### Top 5 performers in each season

In [ ]:
official_auction_list_season.Runs = official_auction_list_season.Runs.apply(lambda x: float(x.replace('-', '0')))

In [43]:
official_auction_list_season.Wkts = official_auction_list_season.Wkts.apply(lambda x: float(x.replace('-', '0')))

In [59]:

top_batsman = official_auction_list_season.groupby(['year']).apply(lambda x: x.nlargest(5, 'Runs'))[["Runs", "Player", "year", "country"]].reset_index(drop=True)
top_bowlers = official_auction_list_season.groupby(['year']).apply(lambda x: x.nlargest(5, 'Wkts'))[["Wkts", "Player", "year", "country"]].reset_index(drop=True)

In [67]:
top_bowlers_unique = top_bowlers.groupby(['Player']).agg({"year": ['count']}).reset_index(drop=False)

In [69]:
top_bowlers_unique.columns = ["Player", "top5_times"]

In [70]:
top_bowlers_unique.columns

Index(['Player', 'top5_times'], dtype='object')

In [73]:
merged_bowlers = pd.merge(top_bowlers, top_bowlers_unique, on=["Player"], how="inner")

In [77]:
top_batsman_unique = top_batsman.groupby(['Player']).agg({"year": ['count']}).reset_index(drop=False)
top_batsman_unique.columns = ["Player", "top5_times"]

In [78]:
merged_batsman = pd.merge(top_batsman, top_batsman_unique, on=["Player"], how="inner")

In [79]:
merged_batsman.head()

    Runs         Player  year    country  top5_times
0  471.0       GA Gooch  1987    England           1
1  447.0        DC Boon  1987  Australia           2
2  368.0        DC Boon  1992  Australia           2
3  274.0  Javed Miandad  1987   Pakistan           2
4  437.0  Javed Miandad  1992   Pakistan           2

In [90]:
del top_batsman["Runs"]
del top_bowlers["Wkts"]

In [107]:
official_auction_list_season.Role.unique()

array(['Batsman', 'All Rounder', 'Bowler', 'Wicket Keeper'], dtype=object)

In [109]:
set(top_batsman_unique.Player).intersection(set(top_bowlers_unique.Player))

{'SR Waugh'}

In [128]:
def search_row(player):
    returnVal = False
    if player.Player in list(top_batsman_unique.Player):
        # Search top batsman unique list
        #print(f"player is {player.Player} and year is {player.year}")
        cnt = top_batsman[(top_batsman.Player == player.Player) & (top_batsman.year == player.year)].shape[0]
        #print(f"cnt is {cnt}")
        if cnt==1:
            returnVal = True
    if player.Player in list(top_bowlers_unique.Player):
        #print("Inside")
        # Search top bowlers unique list
        cnt = top_bowlers[(top_bowlers.Player == player.Player) & (top_bowlers.year == player.year)].shape[0]
        if cnt==1:
            returnVal = True
    return returnVal

In [102]:
top_players = list(top_batsman_unique.Player) + list(top_bowlers_unique.Player)
top_players_filtered = official_auction_list_season[official_auction_list_season.Player.isin(top_players)]

In [111]:
def search_in_top_list(df):
    df["top5_season"] = df.apply(lambda x: search_row(x), axis=1)
    return df

In [125]:
search_row(top_players_filtered.iloc[1])

Inside
player is M Azharuddin and year is 1992
cnt is 1

True

In [129]:
top_players_filtered_new = search_in_top_list(top_players_filtered)

/home/mancunian92/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [130]:
top_players_filtered_new.top5_season.value_counts()

False    126
True      90
Name: top5_season, dtype: int64

In [132]:
top_players_filtered.to_csv("./worldcup_data/top_probables_season_data.csv", index=False)

### Analyzing sub standard players

In [139]:
final_list = pd.read_csv("./worldcup_data/season_wise_combined_auction_list.csv")

In [140]:
non_numeric_cols = ["Player", "year", "Role", "Country", "BBI", "HS", "country", "Mat", "4s", "6s", "Ct", "St"]
for col in set(final_list.columns).difference(set(non_numeric_cols)):
    
    final_list[col] = final_list[col].apply(lambda x: float(x.replace('-', '0')))

In [142]:
final_list["dismissals"] = final_list["Ct"] + final_list["St"]

In [84]:
s2015["run_points"] = (s2015["Runs"].rank(ascending=False)/s2015.shape[0]) * 100
s2019["run_points"] = (s2019["Runs"].rank(ascending=False)/s2019.shape[0]) * 100

/home/mancunian92/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/mancunian92/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [180]:
def year_role_df(df):
    df_dict = {}
    for role in df.Role.unique():
        for year in df.year.unique():
            f_df = df[(df.Role==role) & (df.year==year)]
            if role in "Batsman":
                f_df["rating"] = (f_df["Runs"].rank(ascending=False)/f_df.shape[0]) * 100
            elif role in "Bowler":
                f_df["rating"] = (f_df["Wkts"].rank(ascending=False)/f_df.shape[0]) * 100
            elif role in "All Rounder":
                f_df["rating"] = 0.5 * ((f_df["Runs"].rank(ascending=False)/f_df.shape[0]) * 100) + 0.5 * ((f_df["Wkts"].rank(ascending=False)/f_df.shape[0]) * 100)
            elif role in "Wicket Keeper":
                f_df["rating"] = 0.8 * ((f_df["Runs"].rank(ascending=False)/f_df.shape[0]) * 100) + 0.2 * ((f_df["dismissals"].rank(ascending=False)/f_df.shape[0])*100)
            df_dict[str(role)+"_"+str(year)] = f_df
    return df_dict

SyntaxError: invalid syntax (<ipython-input-180-92601769855b>, line 12)

In [179]:
final_list.Role.unique()

array(['Batsman', 'All Rounder', 'Bowler', 'Wicket Keeper'], dtype=object)

In [144]:
df_dict = year_role_df(final_list)

/home/mancunian92/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/mancunian92/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/mancunian92/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/mancunian92/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [172]:
def get_rating(player):
    try:
        key = str(player.Role)+"_"+str(player.year)
        df = df_dict[key]
        rate= df[df.Player==player.Player].rating
        return rate
    except e as Exception:
        print(f_df.columns)
        print(key)
        print(player.Player)

In [176]:
df_dict["Batsman_2019"][df_dict["Batsman_2019"].Player=="DA Warner"].rating

451    20.0
Name: rating, dtype: float64

In [178]:
final_list["rating"] = final_list.apply(lambda x: get_rating(x), axis=1)

ValueError: Wrong number of items passed 452, placement implies 1

In [ ]:
# Season wise stats = Runs

# Batsman

# (Runs) avg rating 

# Bowler
# WKts 

# AR
#(0.5 of bat) + (0.5 * bowl)

# Wk
#(0.8 bat, 0.2 dismissals(ct+st))

In [99]:
bat_gp.sort_values(["avg_of_avg"], ascending=False).head(20)

,Player,total_innings,avg_matches_in_season,total_runs,avg_runs_in_season,avg_of_avg,avg_without_no
2,A Symonds,13,6.500000,515.0,257.500000,113.000000,39.615385
38,MD Crowe,15,7.500000,678.0,339.000000,75.500000,45.200000
3,AB de Villiers,22,7.333333,1207.0,402.333333,73.950000,54.863636
1,A Ranatunga,23,5.750000,889.0,222.250000,70.925000,38.652174
53,RD Jacobs,8,4.000000,270.0,135.000000,67.500000,33.750000
41,MJ Clarke,21,7.000000,888.0,296.000000,67.120000,42.285714
60,SK Raina,9,4.500000,358.0,179.000000,65.400000,39.777778
30,KC Sangakkara,35,8.750000,1532.0,383.000000,65.335000,43.771429
54,RG Sharma,17,8.500000,978.0,489.000000,64.070000,57.529412
25,HH Gibbs,23,7.666667,1067.0,355.666667,63.626667,46.391304
13,DA Warner,18,9.000000,992.0,496.000000,60.580000,55.111111
64,Saeed Anwar,21,7.000000,915.0,305.000000,59.210000,43.571429
55,RR Sarwan,20,6.666667,739.0,246.333333,59.066667,36.950000
59,S Dhawan,10,5.000000,537.0,268.500000,57.000000,53.700000
51,R Dravid,21,7.000000,860.0,286.666667,56.650000,40.952381
20,G Kirsten,21,7.000000,806.0,268.666667,55.213333,38.380952
34,KS Williamson,22,7.333333,911.0,303.666667,55.163333,41.409091
65,Sarfaraz Ahmed,11,5.500000,303.0,151.500000,54.300000,27.545455
14,DC Boon,16,8.000000,815.0,407.500000,54.220000,50.937500
63,SR Tendulkar,44,7.333333,2278.0,379.666667,53.868333,51.772727

In [10]:
bat.groupby()

1      33.040000
2      53.700000
3      31.200000
4      40.952381
5      47.904762
         ...
200    29.842105
203    12.111111
205    46.000000
207    44.727273
208    22.866667
Name: avg_without_no, Length: 140, dtype: float64

AttributeError: 'float' object has no attribute 'replace'

In [110]:
final_list.iloc[1]

Player                 M Azharuddin
Mat                               8
Inns                              7
NO                                0
Runs                            332
HS                               93
Ave                           47.42
BF                              425
SR                            78.11
100                               0
50                                4
0                                 1
4s                               29
6s                                1
country                       India
year                           1992
Overs                             -
Mdns                              -
runs_given                        -
Wkts                              -
BBI                               -
bowling_average                   -
Econ                              -
bowling_strike_rate               -
4                                 -
5                                 -
Ct                                1
St                                0
Country                       INDIA
Role                        Batsman
Name: 1, dtype: object